spring:
 application:
   name: api-gateway-mvc
 cloud:
   gateway:
     server: 
       webmvc: 
        routes:
         - id: emp-backend
           uri: lb://emp-service
           predicates:
             Path=/emp/**
         - id: hr-back-end
           uri: lb://hr-service
           predicates: 
             Path=/hr/**
           filters:
             - name: CircuitBreaker
               args: 
                 id: cb
                 name: hr-service-cb
                 fallback-uri: forward:/hr-fallback-uri
         - id: test-uri
           uri: https://www.google.co.in
           predicates:
             Path=/test/**
             
resilience4j.circuitbreaker:
 instances:
   hr-service-cb:
    registerHealthIndicator: true
    slidingWindowSize: 10
    permittedNumberOfCallsInHalfOpenState: 3
    slidingWindowType: COUNT_BASED
    minimumNumberOfCalls: 5
    waitDurationInOpenState: 5s
    failureRateThreshold: 33.3
    automaticTransitionFromOpenToHalfOpenEnabled: true